<div>
    <p class="title">Mi carrito</p>

    <button class="toggle" (click)="toggleItemsVisibility()">
        {{ showItems? "ocultar" : "mostrar"}}
    </button>

    <ng-container *ngIf="showItems" >
        <app-shopping-cart-items *ngFor="let item of cartItems" [cartItems]="item" (cartItemDelete)="deleteItem(item
        )"></app-shopping-cart-items>
    </ng-container>

    <p class="total"><span class="total-label">Total:</span>{{ total }}</p>
    <button>Finalizar Pedido</button>
</div>